table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
    font-family: sans-serif;
  }
  
  tr:nth-child(even) {
    background-color: rgb(234, 234, 241);
  }

  img {
    max-width: 100%;
    height: auto;
  }